<p>footer works!</p>

<button (click)="DispPar()">Display Paragraph</button>

<p *ngIf ="isParaVisible"> Hi, This paragraph is visible</p>

<br>
<br>

<button (click)="DispTable()">Show Details in Tablular Form</button>
<table *ngIf="isTableVisible">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Skill</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of jsonArr">
      <td>{{value?.id}}</td>
      <td>{{value?.Name }}</td>
      <td>{{value?.Skill}}</td>
    </tr>
  </tbody>
</table>


<br>

<p class="demo">Hi Angular</p>
<p [ngClass]="{'demo' : testValue === 4}">Hi ,angular</p>

<app-contactus></app-contactus>